body {
text-align: center;
background-color: #301934;
font-family: Helvetica;
}

h1 {
font-size= 7;
color: white
}

p {
text-align: center;
color: white;
font-family: Helvetica;
font-weight: bold
}

a {
font-size:150%;
font-family: Helvetica
}