body {
text-align: center;
background-color: #3483eb;
font-family: Helvetica;
}

p {
font-size: 150%;
color: white;
font-weight: bold;
}

span {
font-size: 300%; 
color: #00FF62; 
font-family: Helvetica
}

a {
font-size:150%;
font-family: Helvetica
}